alembic
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-generator==1.10
attrs
Babel
backcall
batchspawner==1.2.0
beautifulsoup4
biopython==1.84
bleach
blinker
boltons
certifi
certipy==0.1.3
cffi
chardet
charset-normalizer
click
comm
conda
conda-build
conda-package-handling
conda_index
conda_package_streaming
contourpy==1.3.1
cryptography
cycler==0.12.1
debugpy
decorator
defusedxml
entrypoints
et_xmlfile==2.0.0
executing
fastjsonschema
filelock
fonttools==4.55.0
glob2
greenlet
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib==1.4.2
json5
jsonpatch
jsonpointer==2.1
jsonschema
jupyter-server
jupyter-telemetry
jupyter_client
jupyter_core
jupyterhub
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kiwisolver==1.4.7
libarchive-c
logomaker==0.8
lxml
Mako
MarkupSafe
matplotlib==3.9.2
matplotlib-inline
mistune
more-itertools
natsort==8.4.0
nbclassic
nbclient
nbconvert
nbformat
ncls==0.0.68
nest-asyncio
notebook
notebook_shim
numpy==2.1.3
oauthlib
openpyxl==3.1.5
packaging
pamela==1.0.0
pandas==2.2.3
pandocfilters
parso
patsy==1.0.1
pexpect
pickleshare
pillow==11.0.0
pkginfo
pkgutil_resolve_name
platformdirs
pluggy
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pycosat
pycparser
pycurl==7.45.2
Pygments
PyJWT
pyOpenSSL
pyparsing==3.2.0
pyranges==0.1.2
pyrsistent
PySocks
python-dateutil
python-json-logger
python-pptx==1.0.2
pytz
PyYAML
pyzmq
requests
ruamel.yaml
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
Send2Trash
six
sniffio
sorted-nearest==0.0.39
soupsieve
SQLAlchemy
stack-data
statsmodels==0.14.4
tabulate==0.9.0
terminado
threadpoolctl==3.5.0
tinycss2
tomli
toolz
tornado
tqdm
traitlets
typing_extensions==4.12.2
tzdata==2024.2
urllib3
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
wrapspawner==1.0.1
XlsxWriter==3.2.0
zipp
zstandard